/* layout styles for pxlcore
----------------------------------------------- */
.col {
	float: left;
}
.col-half {
	width: 48%;
	margin-right: 4%;
}

/* pxlcore dashboard styles
----------------------------------------------- */
.icon img {
	margin: 0 auto;
	display: block;
	margin-bottom: 12px;
}

/* new */
.about-wrap .wpbasis-badge {
	position: absolute;
	top: 0;
	right: 0;
}
.wpbasis-badge {
	background-color: #F2F2F2;
	color: #78c8e6;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	margin: 5px 0 0;
	display: inline-block;
	width: 100px;
	text-rendering: optimizeLegibility;
	padding: 10px;
}
.wpbasis-badge img {
	margin-bottom: 5px;
}

/* pxlcore tabs styles
----------------------------------------------- */
ul.wpbasis-tabs {
	border-bottom-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 0;
	font-size: 23px;
	font-weight: 400;
	line-height: 29px;
	padding-left:6px;
	margin-bottom: 0;
}
ul.wpbasis-tabs li {
	display: inline-block;
	margin: 0 3px -1px 0;
}
ul.wpbasis-tabs li a {
	padding: 4px 15px 6px;
	font-size: 18px;
	vertical-align: top;
	border-width: 1px;
	color: #555;
	border-color: #ccc;
	text-decoration: none;
	display: block;
	border-style: solid;
	background: #e4e4e4;
	font-weight: bold;

}
ul.wpbasis-tabs li a.active {
	color: #000;
	border-bottom-color: #F1F1F1;
	background-color: #F1F1F1;
}

/* general styles
----------------------------------------------- */
.clearfix {
	clear: both;
}